.main-content {
  overflow: scroll;
  height: calc(100vh - 55px);
}
.grid-movie-title {
  display: grid;
  grid-template-areas: 'movie-type . paginate';
  //   grid-template-columns: max-content 1fr max-content;
  grid-row: 1fr;
  margin-bottom: 30px;
  font-size: 18px;
  color: white;
  width: inherit;

  .movie-type {
    grid-area: movie-type;
    text-align: left;
    padding: 8px 20px;
  }
  .paginate {
    grid-area: paginate;
    text-align: right;
    padding: 8px 20px;
  }
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.splide {
  padding: 0 !important;
}
.grid-padding {
  padding: 20px;
}
.loading-wrapper {
  height: 400px;
  position: relative;
  display: grid;
  place-items: center center;
}
.loading {
  height: 200px;
  width: 200px;
  position: relative;
  animation: spin 1.5s infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.loading > div:nth-child(1) {
  height: 35px;
  width: 35px;
  background-image: linear-gradient(45deg, #f7d000, #e6970e);
  position: absolute;
  top: 100px;
  left: 100px;
  box-shadow: 0 0 3px #f7d000;
  border-radius: 50%;
  animation: move1 1.5s infinite;
}
@keyframes move1 {
  50% {
    transform: translate(-10px, -5px) scale(0.8);
  }
}

.loading > div:nth-child(2) {
  height: 20px;
  width: 20px;
  background-image: linear-gradient(45deg, #00d7f7, #04c0f5);
  position: absolute;
  top: 105px;
  right: 110px;
  box-shadow: 0 0 2px #00d7f7;
  border-radius: 50%;
  animation: move2 1.5s infinite;
}

@keyframes move2 {
  50% {
    transform: translate(5px, -5px) scale(0.6);
  }
}

.loading > div:nth-child(3) {
  height: 35px;
  width: 35px;
  background-image: linear-gradient(45deg, #f60180, #f7014f);
  position: absolute;
  bottom: 100px;
  right: 100px;
  box-shadow: 0 0 3px #f60180;
  border-radius: 50%;
  animation: move3 1.5s infinite;
}
@keyframes move3 {
  50% {
    transform: translate(20px, 0px) scale(0.8);
  }
}

.loading > div:nth-child(4) {
  height: 20px;
  width: 20px;
  background-image: linear-gradient(45deg, #da00f7, #b501f6);
  position: absolute;
  bottom: 105px;
  left: 110px;
  border-radius: 50%;
  animation: move4 1.5s infinite;
}

@keyframes move4 {
  50% {
    transform: translate(5px, -5px) scale(0.6);
  }
}
